body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lora, serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.pink-lady {
    color: #fde3e9;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #d606ba;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.article-link {
    text-decoration: none;
    color: #445261;
}

.article-link:hover,
.page-link {
    color: #d606ba;
}

.article-title {
    margin-top: 20%;
    margin-left: 5%;
}

.article-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #d606ba;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #d606ba;
}

.link {
    color: #d606ba;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


/* Like Button Articles */
.btn-like {
    color: #d606ba;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #d606ba;
    background: transparent;
    border: none;
}



/* Manage Reservations page */

/* Status colours */
.confirmed {
    background-color: #d606ba;
    color: white;
    padding: 2px;
}

.pending {
    background-color: rgb(100, 149, 250);
    color: white;
    padding: 2px;
}

.rejected {
    background-color: rgb(167, 8, 3);
    color: white;
    padding: 2px;
}

.expired {
    background-color: grey;
    color: white;
    padding: 2px;
}

.booking-list,
.booking-item {
    list-style: none;
    padding-left: 0;
}


/* Crispy form inputs */

input#id_name.textinput.textInput,
input#id_email.emailinput,
input#id_full_name.textinput.textInput,
select#id_class_name,
select#id_requested_time,
input#id_requested_date {
    width: 100%;
    margin-bottom: 10px;
}

/* Date picker */

.ui-widget {
    font-family: 'Lora', serif;
}

.ui-widget-header {
    background: #d606ba;
    color: #Effbed;
}