{% extends "base.html" %}

{% block title %} Booking {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %} 
{% load crispy_forms_tags %}
<div class="page-header align-items-start min-vh-100" style="background-image: url({% static 'images/bike_pink.jpg' %});" loading="lazy">
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">
            <h2 class="text-center mt-2 mb-3">Book a class with <span class="brand">Lady<span class="fuxia-lady"><span
                class="fuxia-thin">|Bike</span></span></span></h2>
            <h5 class="text-center mt-2 mb-3">We offer a maximum capacity of ten people per class and recommend booking one week in advance.</h5>
            <h5 class="text-center mb-2 mb-3">All classes are one hour long. Bring a towel and a water bottle with you.
            <h6 class="text-center mb-5">Not sure which class you want to book? You can look more about our classes <a href="/classes" style="color: #d606ba;">here!</a></h6>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-xs-10 col-sm-6 col-md-8 col-lg-6 col-xl-5">
            <!-- Display both forms together -->
            <form method="POST" class="mb-5 booking-enquiry full-form">

                {% csrf_token %}

                <!-- Customer form -->
                {{ customer_form | crispy }}

                <!-- Booking form -->
                {{ booking_form | crispy }}

                <button type="submit" class="button mt-4 text-center submit-button" style="background-color: #d606ba;
                color: white;">Book Class</button>

            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
