{% extends "base.html" %}

{% block title %} Classes {% endblock %} 

{% block body_class %} classes-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %} 

  <header class="bg-dark">
    <div class="page-header min-vh-75 bg-gradient-dark opacity-6">
        <img  class="bg-img" src="{% static 'images/spinning_class.jpg' %}" alt="biking_class">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Our  <span><strong style="color: #42424a;">Classes</strong></span></h1>
            <p class="lead mb-4 text-white opacity-8 display-6">Learn more about our classes and book the one that suits you the best!</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Content Card-->
  <div class="container-fluid pt-5">
  <section class="pb-4">
    <div class="container justify-content-center">
  <div class="card-group">
    <div class="card">
      <img  class="card-img-top" src="{% static 'images/header.jpg' %}" alt="spinning_class">
      <div class="card-body">
        <h2 class="card-title pt-4" style="color: #d606ba;">Spinning</h2>
                                <h6>Available: <span style="color: #d606ba;">Everyday</span></h6>
                                <h6>Start Time: <span style="color: #d606ba;">07:00 AM</span></h6>
                                <h6>Ends: <span style="color: #d606ba;">08:00 AM</span></h6>
                                <h6>Calories burnt: <span style="color: #d606ba;">400-500</span></h6>
                                <p class="card-text">In spin class, you pedal along on a stationary bike as the instructor guides you through a 
                                    visualization of an outdoor workout. The pace and speed will vary throughout the workout, sometimes requiring 
                                    break-neck speed, and other times pedaling happens from a slow, standing position.
                                </p>
      </div>
      <!-- Adjusting the view according to authentication -->
      {% if request.user.is_authenticated %}
      <div class="card-footer text-center" style="background-color: #d606ba;"><a class="btn btn-secondary btn-lg" href="{% url 'booking' %}">Book</a></div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        You must be logged in to make bookings.
      </div>
      {% endif %}
    </div>
    <div class="card">
      <img  class="card-img-top" src="{% static 'images/ride_that_hill_class.png' %}" alt="spinning_class">
      <div class="card-body">
        <h2 class="card-title pt-4" style="color: #d606ba;">Ladybike</h2>
                                <h6>Available: <span style="color: #d606ba;">Everyday</span></h6>
                                <h6>Start Time: <span style="color: #d606ba;">18:00 PM</span></h6>
                                <h6>Ends: <span style="color: #d606ba;">19:00 PM</span></h6>
                                <h6>Calories burnt: <span style="color: #d606ba;">600-700</span></h6>
                                <p class="card-text">Is an intense combo class that will push your body to the limit. 
                                    It combines intervals of cardio with strength conditioning, moving quickly between 
                                    the bike and equipment on the ground. Expect to work with dumbbells, bands, gliders, and your own body-weight.
                                  </p>
      </div>
      <!-- Adjusting the view according to authentication -->
      {% if request.user.is_authenticated %}
      <div class="card-footer text-center" style="background-color: #d606ba;"><a class="btn btn-secondary btn-lg" href="{% url 'booking' %}">Book</a></div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        You must be logged in to make bookings.
      </div>
      {% endif %}
    </div>
    <div class="card">
      <img  class="card-img-top" src="{% static 'images/ladybike_class.jpg' %}" alt="spinning_class">
      <div class="card-body">
        <h2 class="card-title pt-4" style="color: #d606ba;">Ladybike</h2>
                                <h6>Available: <span style="color: #d606ba;">Everyday</span></h6>
                                <h6>Start Time: <span style="color: #d606ba;">18:00 PM</span></h6>
                                <h6>Ends: <span style="color: #d606ba;">19:00 PM</span></h6>
                                <h6>Calories burnt: <span style="color: #d606ba;">600-700</span></h6>
                                <p class="card-text">Is an intense combo class that will push your body to the limit. 
                                    It combines intervals of cardio with strength conditioning, moving quickly between 
                                    the bike and equipment on the ground. Expect to work with dumbbells, bands, gliders, and your own body-weight.
                                  </p>
      </div>
      <!-- Adjusting the view according to authentication -->
      {% if request.user.is_authenticated %}
      <div class="card-footer text-center" style="background-color: #d606ba;"><a class="btn btn-secondary btn-lg" href="{% url 'booking' %}">Book</a></div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        You must be logged in to make bookings.
      </div>
      {% endif %}
    </div>
  </div>
    </div>
  </section>
</div>
  

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6 bg-gradient-dark">
    <!-- Section with info areas with map -->
    <section class="py-7">
      <div class="container" style="margin-top:50px">
          <div class="row gy-5">
          </div>
          <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
            <div>
  
  
              <div class="col-md-8 offset-md-2 mb-5 mb-lg-0 aos-init aos-animate justify-content-center"
              style="text-align:center" data-aos="fade-up">
                  <div class="icon-box">
                      <h1 class="title">Do You Have <span><strong style="color: #ffff;">Questions?</strong></span></h1>
                      <h4>LadyBike's customer support is available on weekdays from 08:00-17:00.<br>
                        Feel free to reach out at <strong style="color: #fff;">08-123-45</strong> or <a href="info@ladybike.com">
                      <strong style="color: #ffff;">info@ladybike.com</strong></a></h4>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 ms-auto mt-lg-0 mt-4">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                </div>
                <div class="card-body text-center" id="map-section">
                  <h3 class="font-weight-normal" style="color: #d606ba;">
                    Find Us!
                  </h3>
                  <h5 class="mb-0">
                    LadyBike is based in central Stockholm at Regeringsgatan 1, 111 53 Stockholm.<br>
                    We are looking forward to sweating with you!
                  </h5><br>
                   <!-- Map section of footer to be hidden on mobiles -->
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.1831986220532!2d18.0685133!3d59.3298952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5ed1117e2f%3A0x129118f2d430e145!2sRegeringsgatan%201%2C%20111%2053%20Stockholm!5e0!3m2!1sen!2sse!4v1660053666273!5m2!1sen!2sse" 
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{%endblock%}