{% extends "base.html" %}

{% block title %} Home Page {% endblock %} 

{% block body_class %} home-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %} 

<header class="bg-dark">
  <div class="page-header min-vh-75 bg-gradient-dark opacity-6" style="height: 500px; background-image: url('https://stagescycling.com/media/.renditions/wysiwyg/stages-cycling/landing-pages/home/2021/commercial_indoor_cycles-smiling-700px_by_500px.jpg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">Welcome to <span><strong style="color: #d606ba;">Ladybike</strong></span></h1>
          <p class="lead mb-4 text-white opacity-8 display-6">We’re passionate female cycling professionals who wants to make cycling training a fun experience for other females!</p>
          <h4 class="text-white mb-3">Book a session today and we'll make sure you have a great sweaty experience!</h4>
          <button type="submit" class="btn bg-white font-weight-bold" style="color: #d606ba; font-weight: 800;">Book Now!</button>
        </div>
      </div>
    </div>
  </div>
</header>


  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container" style="margin-top:50px">
          <div class="row gy-5">
          </div>
          <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
  
  
              <div class="col-md-6 col-lg-3 px-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate justify-content-center"
              style="text-align:center" data-aos="fade-up">
                  <div class="icon-box">
                      <div class="icon mb-3"><img src="{% static 'images/Strong_girl.png' %}" alt="Strong_girl">
                      </div>
                      <h5 class="title">Become <span><strong style="color: #d606ba;">Stronger</strong></span></h5>
                      <p>LadyBike encourages you to get a better cyclist week by week! You progress gradually, increasing the
                        intensity in each workout.</p>
                  </div>
              </div>
           
  
              <div class="col-md-6 col-lg-3 px-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate justify-content-center"
              style="text-align:center" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box">
                      <div class="icon mb-3"><img src="{% static 'images/Community.png' %}" alt="Community">
                      </div>
                      <h5 class="title">Join Our <span><strong style="color: #d606ba;">Community</strong></span></h5>
                      <p>LadyBike has a great community of women interested in Cycling. Connect with like-minded people and 
                        share your experiences and aspirations!</p>
                  </div>
              </div>
  
  
              <div class="col-md-6 col-lg-3 px-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate justify-content-center"
              style="text-align:center" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                      <div class="icon mb-3"><img src="{% static 'images/Cyclist.png' %}"  alt="Cyclist">
                      </div>
                      <h5 class="title">Only For <span><strong style="color: #d606ba;">Women</strong></span></h5>
                      <p>LadyBike offers three cycling indoor workouts ONLY for women! LadyBike is a place for women who are focused on their health and fitness and 
                        want to become better cyclists.</p>
                  </div>
              </div>
          </div>
      </div>
  
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                </div>
                <div class="card-body text-center">
                  <h4 class="font-weight-normal" style="color: #d606ba;">
                    Articles
                  </h4>
                  <p class="mb-0">
                    Our articles aim to provide you with great content to isnpire you follow a healthy lifestyle.
                  </p>
                  <a class="btn bg-gradient-info btn-sm mb-0 mt-3" style="background-color: #d606ba;" href="articles.html"><button type="button" >Find out more</button>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      

<!-- END Section with four info areas left & one card right with image and waves -->
    <!-- -------- START Feature with pattern background  -------- -->
    <section class="pb-5 position-relative bg-gradient-dark mx-n3">
      
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
                <div class="card-body p-4">
                  <div class="member-profile position-absolute top-0 start-50 translate-middle w-100 text-center">
                      <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="{% static 'images/Vanessa.png' %}" alt="vanessa">
                    </div>
                  <div class="card-text pt-1">
                    <h5 class="member-name mb-0 text-center font-weight-bold" style="color:#d606ba;">Vanessa Karra</h5>
                    <div class="mb-3 text-center">Co-founder / Personal Trainer</div>
                    <div>I’m Vanessa, personal trainer and co-founder of LadyBike. I gained my qualifications in 
                      2008 and started my career as a personal and cycling trainer for women. My goal has always been to 
                      empower women by giving them the practical tools they need to improve their health, cycling skills and 
                      fitness and feel more confident. You can find me on the LadyBike classes!</div>
                  </div>
                </div><!--//card-body-->
                <div class="card-footer theme-bg-primary border-0 text-center">
                </div><!--//card-footer-->
              </div><!--//card-->
            </div><!--//col-->
            
            <div class="col-12 col-md-6">
              <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
                <div class="card-body p-4">
                  <div class="member-profile position-absolute top-0 start-50 translate-middle w-100 text-center">
                      <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="{% static 'images/Emma.png' %}" alt="Emma">
                    </div>
                  <div class="card-text pt-1">
                    <h5 class="member-name mb-0 text-center font-weight-bold" style="color:#d606ba;">Emma Thomas</h5>
                    <div class="mb-3 text-center">Olympic Cyclist / Personal Trainer</div>
                    <div>Hello! I’m Emma — wife, mother and an Olympic Cyclist. 
                      After having my baby, Alexandra, I decided that I need to take a break from competiitons and  
                      focus more on sharing my experince and passion about cycling and helathy lifestyle with other women. 
                      You can find me on the Ride that hill and Spinning classes!</div>
                  </div>
                </div><!--//card-body-->
                <div class="card-footer theme-bg-primary border-0 text-center">
                </div><!--//card-footer-->
              </div><!--//card-->
            </div><!--//col-->
          </div>
        </div>
      </section>
  </div>


{%endblock%}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!--  listen for scroll event -->
<script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>

{% endblock javascripts %}