{% extends "base.html" %}

{% block title %} Manage Bookings {% endblock %} 

{% block body_class %} manage-booking {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %} 
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 text-center">
            <h2 class=" mt-2 mb-3">Manage your bookings with <span class="brand">Lady<span class="fuxia-lady"><span
                class="fuxia-thin">|Bike</span></span></span></h2>
            <!-- Let the user get all the info to ensure that their are using the right credentials -->
            <p class="mt-2">Hello, there!</strong>!</p>
            <p class="mt-2">You can make changes to your bookings by using the options below.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-sm-12">
            <div class="row d-flex justify-content-center">
                <!-- For each booking -->
                {% for booking in booking %}
                <div class="col-md-6 col-lg-4">
                    <ul class="booking-list text-center" id="{{ booking.booking_id }}">
                        <li class="booking-item">
                            <h5>Booking ID: {{ booking.booking_id }} </h5>
                        </li>
                        <li class="booking-item">Class: {{ booking.class_name }} </li>
                        <li class="booking-item">Date: <span class="booking-date"
                                id="{{ booking.requested_date }}">{{ booking.requested_date|date:"d/m/Y"}}</span>
                        </li>
                            <div class="text-center">
                                <a href="{% url 'edit_booking' booking.booking_id %}"
                                    class="button btn submit-button inline-btn" style="background-color: #d606ba;
                                    color: white;">Edit Booking</a>
                                <a href="{% url 'delete_booking' booking.booking_id %}"
                                    class="button btn cancel-button inline-btn" style="background-color: lightgray;
                                    color: #d606ba;">Cancel Booking</a>
                            </div>
                            <hr style="color: #d606ba;">
                            </li>
                    </ul>
                </div>
                <!-- Show two per row -->
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row d-flex justify-content-center">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}